.game {
  display: grid;
  grid-template: repeat(3 , 1fr) / repeat(3 , 1fr);
  background: darkgoldenrod;
  padding: 5px;
  margin: 50px auto 0;
  border-radius: 10px;
  width: 400px;
  height: 400px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: burlywood;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
}